/*
   UNIDADES DE MEDIDAS

   -> ABSOLUTAS
      px(pixels)

   -> RELATIVAS
     % cacular o tamanho relativo ao elemento pai 
     vw(view width) 1vw é 1% da largura da janela do navegador
     vh(view width) 1vh é 1% da largura da janela do navegador
     em é uma unidade relativa ao elemento pai
     rem é unidade relativa ao elemento raiz
     */

.vo {
    font-size: 20px
}

.pai {
    width: 55vw;
    height: 60vh;
    background: #0000ff;
    color: #ffffff;
    font-size: 2em;

}

.filho {
    width: 80%;
    height: 70%;
    background: #ff0000;
    color: #ffffff;
    font-size: 2rem;


}