    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    a {
        color: darkred;
        
    }

    a::after {
        content:"🥸";
    }

    a::before {
        content:"🚀​";
    }
