

/* Responsividade 

All: Para todos os dispositivos.
Braille: Para dispositivos táteis.
Embossed: Para dispositivos que imprimem em braile.
Hardheld: Para dispositivos portáteis, geralmente com telas pequenas e banda limitada.
Print: Para impressão em papel.
projection: Para apresentações com PPS.
Screen: Para monitores ou dispositivos com telas coloridas e resolução adequada.
Screech: Para sintetizadores de voz. As CSS 2 tem um espicificação de CSS chamada Aural, onde podemos formatar a voz dos sintetizadores.

Orientação
portrait-> altura maior que a largura 
landscape-> largura maior que a altura 

*/


*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;

}

div {
    height:700px;
    width:700px;
    background:#f01;

}

@media screen and (max-width:/* landscape*/ 600px) and (orientation: landscape){
    div { 
        background: rebeccapurple;
        height: 208px;
        width: 200px;

}

}